server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/calorie_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect


jwt:
  secret: 7c8f6b0e3f5c8d9a7c8f6b0e3f5c8d9a
